@use "../styles/base";
@use "../styles/config";

.candidate {
  width: 250px;
  flex-basis: auto;
  flex-grow: 1;

  @include base.flex(column, space-between, center);
  padding: 10px;

  font-family: config.$fonts-font-stack;
}

.candidateInfo {
  margin-bottom: 20px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;

  text-align: center;
  text-align: center;

  a,
  a:visited {
    color: config.$colors-foreground;
  }
}

.candidateName {
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.0rem;
  text-align: center;

}

.candidateParty {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

.candidatePortrait {
  position: relative;
  z-index: -1;
  width: 100%;
  max-width: 280px;
  aspect-ratio: 1;
  margin-bottom: 8px;
  object-fit: cover;
  @include base.rounded;
}

.blurb {
  flex: 1;
  @include base.flex(column, space-between, space-between);

  strong {
    font-weight: bold;
  }

  .endorsement,
  .endorsement:visited {
    color: config.$colors-foreground;
    text-decoration-color: config.$colors-foreground;
  }
}