@use "../styles/base";
@use "../styles/config";

.candidate {
    width: 300px;
    padding: 10px;

    background-color: config.$colors-white;
    font-family: config.$fonts-font-stack;
}

.candidateInfo {
    text-align: center;
}

.candidateName {
    font-size: 1.5rem;
}

.candidateParty {
    font-size: 1rem;
}
