@use "../styles/base";
@use "../styles/base/mixins";
@use "../styles/config";

.header {
    position: fixed;
    top: 0;
    z-index: 99;

    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    padding: 10px;

    @include base.flex(row, space-between);

    background-color: white;

    @include mixins.tablet {
        padding: 10px 30px;
    }
}

.faBars {
    margin-right: 1rem;
}

.headerLogo, .headerLogo a {
    margin: 0;
    color: black;
    text-decoration: none;
}

.logoImage {
    width: 150px;

    @include mixins.tablet {
        width: 200px;
    }

    @include mixins.laptop {
        width: 250px;
    }
}