@use "../styles/base";

.header {
    position: fixed;
    top: 0;

    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    padding: 24px 32px;

    @include base.flex(row, space-between);

    background-color: white;
}

.faBars {
    margin-right: 1rem;
}

.headerLogo, .headerLogo a {
    margin: 0;
    color: black;
    text-decoration: none;
}

.sharing {
}
