@use "../styles/base";
@use "../styles/config";

.menu {
    position: fixed;
    left: 10px;
    top: 6rem;
    max-width: 200px;
    max-height: calc(100% - 200px);
    padding: 15px;
    overflow-y: auto;

    @include base.flex(column, flex-start, flex-start, nowrap);
    background-color: config.$colors-white;

    transition: clip-path 0.2s;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    @media screen and (max-width: 1366px) {
        border: 1px solid config.$colors-foreground;
    }
}

.hidden {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
}
