@use "../styles/base";
@use "../styles/config";

.position {
    @include base.rounded;
    margin-bottom: 50px;
    background-color: config.$colors-white;
    @include base.shadow;
}

.positionTitle {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid config.$colors-primary;

    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    color: config.$colors-primary;
}

.candidates {
    @include base.flex(row, center, flex-start);
}
