@use "../styles/base";
@use "../styles/config";

.position {
    @include base.rounded;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: config.$colors-white;
    @include base.shadow;
}

.positionTitle {
    border-bottom: 1px solid config.$colors-primary;
    padding: 1.5rem;

    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    color: config.$colors-primary;
}

.candidates {
    @include base.flex(row, center, stretch);
}

.anchor {
    position: relative;
    top: -120px;
}
