@use '../styles/base';
@use '../styles/config';

.overlay {
    @include base.flex(column);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.modal {
    position: absolute;
    max-width: 960px;
    max-height: 95%;

    outline: none;
    border: 1px solid rgb(204, 204, 204);
    margin: 0 auto;
    padding: 40px;
    
    background: config.$colors-white none repeat scroll 0% 0%;
    overflow: auto;
}

.modalHeader {
    position: sticky;
    top: -40px;

    margin-top: -40px;
    padding: 10px;
    background: config.$colors-white;
}

.question {
    margin-bottom: 1.5rem;

    h3 {
        margin-bottom: 0.5rem;
    }
}
