@use "../styles/base/mixins";
@use "../styles/config";

.sharing {
    cursor: pointer;
    color: config.$colors-foreground;
    transition: color 0.25s;
    &:hover {
        color: config.$colors-accent;
    }
}

.shareIcon {
    font-size: 1.5rem;
}

.shareText {
    display: none;
    font-size: 1.25rem;
    margin-left: 0.5rem;

    @include mixins.tablet {
        display: inline;
    }
}

:global(.web-share-fade) {
    @include mixins.laptop {
        justify-content: center !important;
    }
}