@use "../config";

@mixin flex($direction, $justify: center, $align: center, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    align-content: $align;
    flex-wrap: $wrap;
}

@mixin rounded {
    border-radius: config.$sizes-rounding-radius; 
}

@mixin shadow {
    box-shadow: config.$sizes-shadow-offset config.$sizes-shadow-offset config.$sizes-shadow-blur rgba(0, 0, 0, 0.2);
}

@mixin tablet {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}